@model AvaliarFornecedorViewModel

<head>
    <link rel="stylesheet" href="/css/avaliar/avaliacao/realizar_avaliacao.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>

<h2 class="title">Avaliar Fornecedor</h2>
<div class="line"></div>

@if (TempData["NullMessage"] != null)
{
    <div class="alert danger">
        @TempData["NullMessage"]
    </div>
}

<div class="content">
    <h2 class="titleText">Avalie o Fornecedor</h2>

    <h2 class="fornName">@Model.Fornecedores.NomeFantasia</h2>
    <div class="fornInfo">
        <p class="fornEmail">@Model.Fornecedores.Email</p>
        <p class="fornContact">Contato: @Model.Fornecedores.NomeContato</p>
    </div>

    <form asp-controller="Avaliar" asp-action="AvaliarFornecedor" method="post">
        <p class="avaliadorNome">Avaliando como:</p>
        <input type="text" value="@ViewBag.NomeUsuario" class="fornNameInput" readonly>


        <p class="choice">O que gostaria de avaliar?</p>
        <select name="servicoAvaliadoId" id="servicoAvaliadoId">
            <option value="">Selecione</option>
            @foreach (var servAvaliado in Model.ServicosAvaliados)
            {
                <option value="@servAvaliado.ID">@servAvaliado.Descricao</option>
            }
        </select>

        <p class="star">Avalie-o de 1 a 5 estrelas</p>
        <div class="stars">
            <input type="hidden" name="Nota" value="0" />
            <i class="fa-solid fa-star" onclick="setStar(1)"></i>
            <i class="fa-solid fa-star" onclick="setStar(2)"></i>
            <i class="fa-solid fa-star" onclick="setStar(3)"></i>
            <i class="fa-solid fa-star" onclick="setStar(4)"></i>
            <i class="fa-solid fa-star" onclick="setStar(5)"></i>
        </div>

        <p class="detalhe">Detalhe mais a sua avaliação</p>
        <textarea cols="30" rows="10" name="Detalhes" placeholder="Nós queremos saber mais de você"></textarea>

        <div class="buttons">
            <a href="#"><button type="button" class="limparBtn" onclick="location.reload()">Limpar</button></a>
            <a><button type="submit" class="avaliarBtn">Avaliar</button></a>
            <a href="/Avaliar/ListaAvaliar"><button type="button" class="voltarBtn">Voltar</button></a>
        </div>

        <input type="hidden" name="fornecedorId" value="@Model.Fornecedores.ID" />
    </form>
</div>

<script src="/js/stars.js"></script>

<script>
    function setStar(starCount) {
        // Atualiza o valor do campo "Estrelas" no formulário com o número de estrelas selecionadas
        document.querySelector('input[name="Nota"]').value = starCount;
        // Atualiza a aparência das estrelas para destacar as selecionadas
        const stars = document.querySelectorAll('.stars i');
        stars.forEach((star, index) => {
            if (index < starCount) {
                star.classList.add('selected');
            } else {
                star.classList.remove('selected');
            }
        });
    }

    function clearForm() {
        // Limpa o valor do campo "Estrelas" e remove a seleção das estrelas
        document.querySelector('input[name="Nota"]').value = '0';
        const stars = document.querySelectorAll('.stars i');
        stars.forEach(star => star.classList.remove('selected'));
    }
</script>

<script src="/js/site.js"></script>