@model List<Avaliar>


<head>
    <link rel="stylesheet" href="/css/avaliar/consulta/historico_avaliacao.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<h2 class="title">Histórico de Avaliação do Fornecedor</h2>
<div class="line"></div>

<div class="content">
    <h2 class="fornTitle">Fornecedor</h2>
    <p class="fornName">@ViewBag.NomeFornecedor</p>

    <div class="itemsCentered">
        <table id="historico-avaliacao">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Avaliação</td>
                    <td>Nota</td>
                    <td>Data</td>
                    <td>Visualização Completa</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var avaliacao in Model)
                {
                    <tr>
                        <td>@avaliacao.Usuario.Nome</td> 
                        <td>@avaliacao.ServicoAvaliado.Descricao</td> 
                        <td>@avaliacao.Nota</td> 
                        <td>@avaliacao.Data</td>
                        <td><a href="/Avaliar/VisualizarAvaliacao/@avaliacao.ID"><i class="fas fa-eye"></i></a></td>
                    </tr>
                }
                @* <tr>
                    <td>Marcos Consorte</td>
                    <td>Qualidade de Serviço</td>
                    <td>4 Estrelas</td>
                    <td>08/03/2023</td>
                    <td><a href="/Avaliar/VisualizarAvaliacao"><i class="fas fa-eye"></i></a></td>
                </tr> *@
            </tbody>
        </table>
    </div>
</div>

<script>
    var table = new DataTable('#historico-avaliacao', {
        language: { url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/Portuguese-Brasil.json" },
        lengthMenu: [5], // Define o valor padrão de 6 sem a opção de seleção
        paging: true,
        searching: true,
        ordering: false,
        language: {
            lengthMenu: 'Apresentar _MENU_ linhas por página',
            zeroRecords: 'Não há Registros',
            info: 'Página _PAGE_ de _PAGES_',
            infoEmpty: 'Não há Registros',
            infoFiltered: '(Filtrando de _MAX_ registros)',
            searchPlaceholder: "Busque o forncedor",
            search: 'Pesquisar:',
            paginate: {
                next: '<i class="fas fa-angle-right"></i>',
                previous: '<i class="fas fa-angle-left"></i>',
            },
        },
    });
</script>
