@model List<MediaAvaliacaoViewModel>

<head>
    <link rel="stylesheet" href="/css/avaliar/consulta/consulta_avaliacao.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<h2 class="title">Consultar Histórico de Avaliações</h2>

<div class="grid">
    <div class="grid-container">
        <div class="box gc1">
            <p class="desc">Total de Fornecedores</p>
            <h3 class="number">@ViewBag.QtdFornecedor</h3>
        </div>
        <div class="box gc1">
            <p class="desc">Cadastrados no mês</p>
            <h3 class="number">@ViewBag.QtdFornecedoresUltimoMes</h3>
        </div>
        <div class="box gc1">
            <p class="desc">Fornecedores 5 <span>☆</span></p>
            <h3 class="number">@ViewBag.Forn5Estrelas</h3>
        </div>
    </div>

    <div class="grid-container2">
        <div class="box gc2">
            <p class="desc">Fornecedores 4 <span>☆</span></p>
            <h3 class="number">@ViewBag.Forn4Estrelas</h3>
        </div>
        <div class="box gc2">
            <p class="desc">Fornecedores 3 <span>☆</span></p>
            <h3 class="number">@ViewBag.Forn3Estrelas</h3>
        </div>
        <div class="box gc2">
            <p class="desc">Fornecedores 2 <span>☆</span></p>
            <h3 class="number">@ViewBag.Forn2Estrelas</h3>
        </div>
        <div class="box gc2">
            <p class="desc">Fornecedores 1 <span>☆</span></p>
            <h3 class="number">@ViewBag.Forn1Estrela</h3>
        </div>
    </div>
</div>

<div class="line"></div>

<div class="itemsCentered">
    <form asp-action="ListaAvaliados" asp-controller="Avaliar" method="get">
        <div class="dateSearch">
            <p class="filterText">Filtrar por data: </p>
            <input name="filtroData" type="date" class="inputData" />
            <input type="submit" class="inputButtonData" value="Bota" style="margin-left: 15px; padding: 10px; border-radius: 5px;
" />
        </div>
    </form>

    <table id="lista-avaliados">
        <thead>
            <tr>
                <td>Fornecedor</td>
                <td>Contato</td>
                <td>Média</td>
                <td>Data</td>
                <td>Ver histórico</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td onmouseover="showFullName(this, '@item.Fornecedores[0].NomeFantasia')" onmouseout="this.title='';">@TruncateString(item.Fornecedores[0].NomeFantasia, 35)</td>
                    <td>@item.Fornecedores[0].NomeContato</td>
                    <td>@(item.MediaAvaliacao != 0 ? @item.MediaAvaliacao : "Fornecedor não avaliado")</td> 
                    <td>@(item.MediaAvaliacao != 0 ? @item.DataUltimaAval?.ToString("dd/MM/yyyy") : "Fornecedor não avaliado")</td> 
                    @* @if (item.DataUltimaAval == null)
                    {
                        <td>Fornecedor ainda não foi avaliado.</td>
                    }
                    else
                    {
                        <td>@item.DataUltimaAval?.ToString("dd/MM/yyyy")</td>
                    } *@
                    <td><a href="/Avaliar/HistoricoAvaliacao/@item.Fornecedores[0].ID">Ver histórico</a></td>
                </tr>
            }
        </tbody>

    </table>
</div>

@functions {
    public string TruncateString(string value, int maxLength)
    {
        if (string.IsNullOrEmpty(value))
            return value;

        return value.Length <= maxLength ? value : value.Substring(0, maxLength) + "...";
    }
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var table = new DataTable('#lista-avaliados', {
            language: { url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/Portuguese-Brasil.json" },
            lengthMenu: [4], // Define o valor padrão de 6 sem a opção de seleção
            paging: true,
            searching: true,
            ordering: true,
            order: [[0, 'desc']],
            language: {
                lengthMenu: 'Apresentar _MENU_ linhas por página',
                zeroRecords: 'Não há Registros',
                info: 'Página _PAGE_ de _PAGES_',
                infoEmpty: 'Não há Registros',
                infoFiltered: '(Filtrando de _MAX_ registros)',
                searchPlaceholder: "Busque o fornecedor",
                search: 'Pesquisar:',
                paginate: {
                    next: '<i class="fas fa-angle-right"></i>',
                    previous: '<i class="fas fa-angle-left"></i>',
                },
            },
        });
    });
</script>