@model Avaliar

<head>
    <link rel="stylesheet" href="/css/avaliar/consulta/visualizacao_avaliacao.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>

<h2 class="title">visualização completa da avaliação</h2>
<div class="line"></div>

<div class="content">
    <h2 class="avaliacaoNome">Nome:</h2>
    <div class="nome-data">
        <p class="avaliadorNome" style="margin-top: 20px;">@Model.Usuario.Nome</p>
        <p class="data" style="margin-top: 20px;">@Model.Data.ToString("dd/MM/yyyy")</p>
    </div>

    <h2 class="avaliacaoNota">Avaliação:</h2>
    @if (@Model.Nota == 1)
    {
        <p class="nota" style="margin-top: 20px;"><span><i class="fa-solid fa-star"></i></span>@Model.Nota Estrela</p>
    }
    else
    {
        <p class="nota" style="margin-top: 20px;"><span><i class="fa-solid fa-star"></i></span>@Model.Nota Estrelas</p>
    }

    <h2 class="avaliadoEm">Fornecedor avaliado em:</h2>
    <div class="avaliado" style="margin-top: 20px;">@Model.ServicoAvaliado.Descricao</div>

    <h2 class="detalhe">Detalhe da avaliação:</h2>
    <div class="detalheBox" style="margin-top: 20px;">@Model.Detalhes</div>

    <div class="btn">
        <a class="button" href="/Avaliar/HistoricoAvaliacao/@Model.FornecedorId">Voltar</a>
    </div>
</div>

