@model Fornecedor;

<head>
    <link rel="stylesheet" href="/css/fornecedor/register/cadastro1.css">
</head>

<div class="timeline"></div>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (TempData["CNPJMensagem"] != null)
{
    <div class="alert danger">
        @TempData["CNPJMensagem"]
    </div>
}

<form asp-controller="Fornecedor" asp-action="Cadastrar" method="post">
    <div class="centeredItems">
        <div class="boxContainer">
            <h2 class="title">Cadastro de Fornecedor</h2>
            <div class="lineHorizontal"></div>
            <div class="inputs">
                <div class="leftBox">
                    <div class="entryarea">
                        <input type="text" required class="input" asp-for="NomeFantasia">
                        <div class="labelline">Nome Fantasia</div>
                        <span asp-validation-for="NomeFantasia"></span>
                    </div>
                    <div class="entryarea">
                        <input type="text" required class="input" asp-for="NomeContato">
                        <div class="labelline">Nome Completo</div>
                        <span asp-validation-for="NomeContato"></span>
                    </div>
                    <div class="cpfphone">
                        <div class="entryarea">
                            <input type="text" required class="inputnumber" id="cnpj" asp-for="CNPJ">
                            <div class="labelline">CNPJ</div>
                            <span asp-validation-for="CNPJ"></span>
                        </div>
                        <div class="entryarea">
                            <input type="text" required id="telefone" class="inputnumber" asp-for="Telefone">
                            <div class="labelline">Telefone</div>
                            <span asp-validation-for="Telefone"></span>
                        </div>
                    </div>
                    <div class="entryarea">
                        <input type="text" required class="input" asp-for="Email">
                        <div class="labelline">E-mail Corporativo</div>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <p class="descTitle">Caracterização do Fornecedor</p>
                    <div class="checkboxBox">
                        @foreach (var especializacao in ViewBag.Especializacao)
                        {
                            <input type="checkbox" name="especializacoesSelecionadas" value="@especializacao.ID" id="especializacoesSelecionadas">
                            <label value="@especializacao.ID">@especializacao.Tipo</label>
                        }
                    </div>
                </div>
                <div class="lineVertical"></div>
                <div class="rightBox">
                    <div class="bairronum">
                        <div class="entryarea">
                            <input type="text" required id="cep" class="inputnumber" asp-for="CEP">
                            <div class="labelline">CEP</div>
                            <span asp-validation-for="CEP" id="erroCep"></span>
                        </div>
                        <div class="entryarea">
                            <button type="button" id="buscarCEP" class="buscarCEP">Buscar CEP</button>
                        </div>
                    </div>
                    <div class="entryarea">
                        <input type="text" id="logradouro" required class="input" asp-for="Endereco">
                        <div class="labelline">Endereço</div>
                        <span asp-validation-for="Endereco"></span>
                    </div>
                    <div class="entryarea">
                        <input type="text" class="input" asp-for="Complemento" placeholder="Campo não é obirgatório."/>
                        <div class="labelline">Complemento</div>
                        <span asp-validation-for="Complemento"></span>
                    </div>
                    <div class="bairronum">
                        <div class="entryarea">
                            <input type="text" required class="inputnumber" asp-for="Numero">
                            <div class="labelline">Número</div>
                            <span asp-validation-for="Numero"></span>
                        </div>
                        <div class="entryarea">
                            <input type="text" required id="bairro"  class="inputnumber" asp-for="Bairro">
                            <div class="labelline">Bairro</div>
                            <span asp-validation-for="Bairro"></span>
                        </div>
                    </div>
                    <div class="bairronum">
                        <div class="entryarea">
                            <input type="text" required id="cidade" class="inputnumber" asp-for="Cidade">
                            <div class="labelline">Cidade</div>
                            <span asp-validation-for="Cidade"></span>
                        </div>
                        <div class="entryarea">
                            <select name="UF" id="uf" asp-for="UF">
                                <option value="">Estado</option>
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AP">AP</option>
                                <option value="AM">AM</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MT">MT</option>
                                <option value="MS">MS</option>
                                <option value="MG">MG</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PR">PR</option>
                                <option value="PI">PI</option>
                                <option value="PE">PE</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RS">RS</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="SC">SC</option>
                                <option value="SP">SP</option>
                                <option value="SE">SE</option>
                                <option value="TO">TO</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="buttonNext">
        <button type="submit">Avançar</button>
    </div>
</form>

<script src="/js/site.js"></script>
<script src="/js/mask.js"></script>
<script src="/js/cep.js"></script>